@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root{
    /* Font Family */
    --ff-inter: 'Inter', sans-serif; 

    /* Color */
    --color-background-container: #F7F7F7;
    --color-background: #E5E5E5;
    --color-username: #0CB4F1;
    --color-font: #ACACAC;
    --color-names-tablet: #9EAAB4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-font)
}

.btn {
    border: none;
    outline: none;
    background: transparent;
    line-height: 16px;
    font-family: var(--ff-inter);
    cursor: pointer;
}

h1{
    color: #000;
}
body{
    font-family: var(--ff-inter);
    font-size: 12px;
    line-height: 1;
    background-color: var(--color-background);
    padding: 60px 27px 0 0;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 27px 27px 27px 10px; 
    background-color: var(--color-background-container);
}

.cancel-btn {
    color:#000;
    font-size: 16px;
    width: 16px;
}
.clean-btn{
    display: block;
    background: url(/src/resurces/img/clean.svg) no-repeat;
    padding-left: 15px;
    color: #000;
}

.sort-btn{
    margin:0 0 0 5px;
    border-bottom: 1.5px dashed;
    font-size: 10px;
}

.btn-modal{
    text-align: center;
    margin-top: 30px;
}
.modal-yes{
    background-color: var(--color-background);
    margin-right: 20px;
    width: 90px;
    height: 30px;
    border-radius: 3px;
}
.modal-no{
    background-color: var(--color-username);
    color: var(--color-background-container);
    width: 90px;
    height: 30px;
    border-radius: 3px;
}

