.search-panel{
    padding: 12px 44px 20px 16px;
    background-color: #ffff;
    border-radius: 7px;
    margin: 20px 0 40px 0;
    -webkit-box-shadow: 0px 28px 20px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 28px 20px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 28px 20px 0px rgba(34, 60, 80, 0.2);
}
input{
    font-family: var(--ff-inter);
    font-size: 12px;
    border: none;
    outline: none;
    background-color: var(--color-background);
    margin-bottom: 20px;
    padding-left: 16px;
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 34px;
}
input::placeholder {
    background: url(/src/resurces/img/source_icons_search.svg) no-repeat;
    padding-left: 15px;
}
.clean-btn{
    display: block;
    background: url(/src/resurces/img/clean.svg) no-repeat;
    padding-left: 15px;
    color: #000;
}